@charset "utf-8";
	
#banner_wrap{
	min-width: 1100px;
	height: 593px;
	position:relative;

}
.banner_one{
	height:593px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.banner_01{
	background: url(../image/banner01_bg.jpg) no-repeat top center;
}
.banner_one_contents{
	width: 1100px;
	margin: 0 auto;
	position: relative;
}
.banner_01 .images01{
	position: absolute;
	top: 204px;
	left: 343px;
}
.banner_01 .images02{
	position: absolute;
	top: 300px;
	left: 375px;
}
.banner_01 .images03{
	position: absolute;
	top: 354px;
	left: 374px;
}
.banner_02{
	background: url(../image/banner02_bg.jpg) no-repeat top center;
}

.banner_02 .images01{
	position: absolute;
	top: 177px;
	left: 61px;
}
.banner_02 .images02{
	position: absolute;
	top:70px;
	left: 261px;
}
.banner_02 .images03{
	position: absolute;
	top: 195px;
	left: 270px;
}
.banner_03 .images01{
	position: absolute;
	top: 189px;
	left: 384px;
}
.banner_03 .images02{
	position: absolute;
	top:298px;
	left: 397px;
}

/*控制*/
.bchange{
	position: absolute;
	left: 42%;
	bottom:40px;
	z-index: 999;
	width: 216px;
	height: 29px;
	background: url(../image/next&prev_line.png) no-repeat left center;
	
}
.bchange>span{
	position: absolute;
	top: 0;
	display: block;
	cursor: pointer;
	width: 29px;
	height: 29px;
	background: url(../image/prev_jiantou.png) no-repeat;
}
.bchange>.next{
	right: 0;
	background: url(../image/next_jiantou.png);
}
.bchange .middle span{
	display: block;
	width: 6px;
	height: 6px;
	float: left;
	background: url(../image/next&prev_others.png);
	cursor: pointer;
	margin-top: 4px;
	margin-right: 7px;
}
.bchange .middle span.last{
	margin-right: 0;
}
.bchange .middle .now{
	background: url(../image/next&prev_now.png);
}
.banner_change .middle_pointers{
	margin: 0 auto;
	width: 45px;
	height: 14px;
	background: url(../image/next&prev_mbg01.png) no-repeat;
	margin-top: 10px;
}
.banner_change .middle_wrap{
	height: 14px;
	background: url(../image/next&prev_mbg03.png) no-repeat right;
}
.banner_change .middle{
	height: 14px;
	margin: 0 6px;
	background: url(../image/next&prev_mbg02.png) repeat-x;
}

.prev:hover{
	background: url(../image/prev_jiantou_hover.png);
}
.next:hover{
	background: url(../image/next_jiantou_hover.png);
}
.prev:hover, .next:hover{
	animation:su-pudding 1s linear 0s normal none 1 running ;
}
/*产品部分*/
.part{
	width: 1100px;
	margin: 0 auto;
	
}
.part>img{
	margin: 0 auto;
	display: block;
}
.part>h1,.part>h2{
	text-align: center;
	font-size: 54px;
	color: #311759;
}
.part>h2{
	font-size:18px ;
	font-family: arial;
	letter-spacing: 6px;
}
.product .content_wrap{
	height: 54px;
	position: relative;
}
.product .now_line{
	width: 19px;
	
	margin-right: 51px;
	height: 389px;
	float: left;
	margin-top: 22px;
	background: url(../image/chanpin_nowline_bgline.png) repeat-y 9px;
	
}
.product .now_linebtn_one{
	height: 11px;
	text-align: center;
	margin-bottom: 63px;
}
.product .now_linebtn_one span{
		display: block;
		width: 11px;
		height: 11px;
		margin: 0 auto;	
		background: url(../image/chanpin_nowline_xiaoquan.png);
	
}
.product .now_linebtn_one i{
	display: none;
	width: 19px;
	height: 19px;
	background: url(../image/chanpin_nowline_daquan.png);
	cursor: pointer;
	position: relative;
	left: 0;
	float: left;
}
.product .now_linebtn_one.now i{
	display: block;
	transition:all 0.5s ease 0s;
	
}
.product .now_linebtn_one.now span{
	display: none;
}
.product .now_linebtn_one span:hover{
	cursor: pointer;
	background: url(../image/chanpin_nowline_xiaoquan.png) 0 11px;
	transition: all 0.5s ease 0s;
}
/*产品切换*/
.product .content{
	width: 1020px;
	float: left;
	
	
}
.product .content .content_one{
	
	display:none;
}
.product .left_content{
	float: left;
}
.product .right_content{
	float: right;
	width: 613px;
}
.product .right_content h1{
	color: #311759;
	font-size: 20px;
	background: url(../image/pen_line.png) no-repeat left bottom;
	height: 60px;
	position:relative;
	
}

.product .right_content .pen{
	width: 61px;
	height: 54px;
	background: url(../image/pen.png) no-repeat;
	position: absolute;
	right: 0;
}
.product .content .content_body .p1{
	overflow: hidden;
	margin: 35px 0 90px 10px;
}
.product .content .p1 *{
	float: left;
}
.product .content .content_body .p1 img{
	margin-right: 25px;
	margin-top: 5px;
	
}
.product .content .content_body .p1 h2{
	font-size: 24px;
	width: 470px;
}
.product .content .content_body .p1 p{
	width: 480px;
	line-height: 24px;
}
.product .content .content_body .p2{
	line-height: 24px;
}
.product .tip *{
	float: right;
}
.product .tip div{
	margin-top: 14px;
	font-size: 18px;
}
/*控制*/
.change_line{
	
	width: 610px;
	height: 20px;
	position: absolute;
	background: url(../image/next&prev_line.png) repeat-x center;
	left: 53%;
	top: 232px;
	z-index: 20;
	margin-left: -108px;
}
.change_line span{
	position: absolute;
	top: -5px;
	width: 29px;
	height: 29px;
	background: url(../image/prev_jiantou.png) no-repeat;
	cursor: pointer;
}
.change_line>.next{
	right: 0;
	background: url(../image/next_jiantou.png) no-repeat;
}
/*公司简介*/
.jianjie_wrap{
	
	clear: both;
	background: url(../image/mokuai02_bg.jpg) no-repeat top center;
	height: 923px;
	min-width: 1100px;
}
.jianjie .right_content>h1{
	color: #FFFFFF;
}
.jianjie .content_body{
	color: #FFFFFF;
}
/*业务*/
.mokuai{
	width: 1100px;
	margin: 0 auto;
}
.mokuai>img{
	margin: 0 auto;
	display: block;
}
.mokuai>h1,.mokuai>h2{
	text-align: center;
	font-size: 54px;
	color: #311759;
}
.mokaui>h2{
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 6px;
}
.yemucontent{
	border-bottom: 2px solid #e0e0e2;
	margin-bottom: 54px;
	clear: both;
	
}
.yewu{
	color: #565559;
}
.yemucontent_simple{
	height: 116px;
	margin-bottom: 66px;
}
.yemucontent_simple>*{
	float: left;
}
.yemucontent_simple .number{
	width: 148px;
	font-size: 90px;
	color: #b5b6ba;
	font-family: "宋体";
}
.yemucontent_simple .title{
	width: 285px;
	text-align: right;
	padding-top: 31px;
}
.yemucontent_simple .title h1{
	color: #311859;
	font-size:24px;
	font-weight: normal;
	
}
.yemucontent_simple .centerimg{
	width: 116px;
	margin: 0 44px 0 59px;
	cursor: pointer;
	
}
.yemucontent_simple .simple_description{
	width: 300px;
	margin: 20px 60px 0 0 ;
	font-family: KaiTi_GB2312;
	line-height: 24px;
}
.yemucontent_simple .shousuo_icon{
	height: 67px;
	width: 67px;
	background: url(../image/business_zhankaishouqi.png);
	cursor: pointer;
	margin-top: 22px;
	
	transition: all 0.5s ease 0s;
}
.yemucontent_simple .shousuo_icon.zhankai{
	transition: all 0.5s  ease 0s;
	background: url(../image/business_zhankaishouqi.png) 0 67px;
	 
}
.yewucontent_ditail{
	padding-bottom: 30px;
	width: 790px;
	margin-left: 180px;
	font-family:KaiTi_GB2312 ;
	line-height: 24px;
	display: none;
}
.yewucontent_ditail p{
	margin-bottom: 20px;
}
/*团队介绍*/
.teamcontent_wrap{
	position: relative;
	height: 430px;
}
.team_change .middle span{
	cursor: default;
}
.teammove_wrap{
	width: 1100px;
	height: 250px;
	overflow: hidden;
	padding-top:64px ;
	position: relative;
}
.teammove_wrap .twoteam_wrap{
	width: 1130px;
	float: left;
	height: 314px;
	
}
.teammove_wrap .team_move{
	width: 3390px;
	height: 250px;
	position: absolute;
}
.team_box{
	width: 533px;
	height: 188px;
	border: 1px solid #e0e1e5;
	float: left;
	position: relative;
	margin-right: 30px;
}
.team_box .heading{
	position: absolute;
	top: -65px;
	left: 26px;
	width: 156px;
	height: 156px;
	overflow: hidden;
	cursor: pointer;
}
.team_box .heading a{
	width: 156px;
	height: 156px;
	background: url(../image/team_amore.png);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10px;
	
}
.team_box .name_wrap{
	width: 222px;
	height: 80px;
	text-align: center;
	color: #5f4c82;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 24px;
}
.team_box .name_wrap .job_title{
	font-size: 18px;
}
.team_box .description{
	width: 246px;
	height: 80px;
	position: absolute;
	top: 24px;
	left: 220px;
	color: #565559;
	line-height: 24px;
	font-size: 16px;
	
}
.team_box .send_email{
	height: 45px;
	width: 246px;
	position: absolute;
	bottom: 20px;
	left: 220px;
	background: #e7e8ec;
	border: 1px solid #e0e1e5 ;
	cursor: pointer;
}
.team_box .send_email:hover{
	border: 1px solid #86759e;
	transition:  all 0.5s ease 0;
}
.team_box .send_email i{
	float: left;
	width: 45px;
	height: 45px;
	background: #d9d9d1 url(../image/team_contact.png) 12px 17px no-repeat ;
}
.team_box .send_email span{
	float: left;
	line-height: 45px;
	text-align: center;
	color: #5F4C82;
	font-size: 16px;
	width: 200px;
}
.team_box .other_contacts{
	width: 47px;
	
	height: 190px;
	background: #2999d6;
	position: absolute;
	top: -1px;
	right: -1px;
}
.team_box .other_contacts div{
	background: url(../image/team_contact.png) no-repeat;
	width: 47px;
	height: 47px;
	cursor: pointer;
}
.team_box .other_contacts div:hover{
	background-color:#168bcd ;
	transition: all 0.5s ease 0;
	 
}
.team_box .other_contacts .weibo{
	background-position: 14px -28px;
}
.team_box .other_contacts .qq{
	background-position: 14px -75px;
}
.team_box .other_contacts .github{
	background-position: 14px -126px;
}
.team_box .other_contacts .weixin{
	background-position: 14px -166px;
}
/*合作机构*/
.hezuo_wrap{
	min-width: 1100px;
	background: #FFFFFF;
	
}
.hezuocontent_wrap{
	color: #5F4C82;
	overflow: hidden;
	padding-top:75px ;
}
.hezuocontent_wrap .partners{
	float: left;
	width: 550px;
	border-right: 1px solid #d3d3d3;
	margin-bottom: 120px;

}
.hezuocontent_wrap h1{
	font-size: 36px;
}
.hezuocontent_wrap h2{
	font-size: 18px;
	font-family: "华文楷体";
	font-weight: normal;
	padding-left: 6px;
	letter-spacing: 6px;
}
.partners_box{
	margin-left: 18px;
	
}
.partners_box>div,.users_box>div{
	width: 173px;
	height: 80px;
	float: left;
	margin-top: 70px;
}
.partners_box a:hover,.users_box a:hover{
	opacity: 0.5;
	filter:alpha(opacity=80) ;
}
.partners_box img,.users_box img{
	max-height: 80px;
}
.users_box{
	width: 520px;
}
.hezuocontent_wrap .users{
	float: left;
	width: 474px;
	margin-left: 75px;
	position: relative;
}
.hezuocontent_wrap .users .more{
	position: absolute;
	right: 35px;
	top: 15px;
	background: url(../image/yonghu_morebg.png) no-repeat -69px 0;
	width: 69px;
	height: 26px;
}
.hezuocontent_wrap .users .more:hover{
	background-position:0 0 ;
	transition: background 0.3s ease 0s;
}
/*联系*/
.input_wrap{
	min-width: 1100px;
	margin-top: 20px;
	overflow: hidden;

}
.lianxi_wraps{
	margin-top: 50px;
	overflow: hidden;
	clear:both;
}
.lianxi .input_box{
	height: 45px;
	width: 333px;
	background: #FFFFFF;
	border: 1px solid #dedfe3;
	margin-bottom: 27px;
	float: left;
}
.lianxi .input_box:hover{
	border: 1px solid #b5b5b5;
	transition: all 0.5s ease 0s;
	
}
.lianxi .input_box i{
	float: left;
	width: 45px;
	height: 45px;
	background: url(../image/lianxi_icons.png) 13px 14px no-repeat;
}
.lianxi .input_box input{
	float: left;
	line-height: 45px;
	color: #5F4C82;
	font-size: 16px;
	width: 268px;
	border: none 0;
	padding-left:18px ;
	outline: none;
	font-family:"华文楷体" ;
	
}
.lianxi .sentbtn_box{
	background: #168BCD;
	border-color:#2999D6 ;
	cursor: pointer;
}
.lianxi .sentbtn_box:hover{
	background: #0d74ac;
	border: 1px solid #0D74AC;
	transition: all 0.5s ease 0s;
	
}
.lianxi .sentbtn_box i{
	background: #2999D6;
	background: url(../image/lianxi_icons.png) no-repeat;
	background-position:-179px 14px;
}
.lianxi .sentbtn_box span{
	float: left;
	line-height: 45px;
	color: #5F4C82;
	font-size: 16px;
	width: 200px;
	padding-left: 18px;
	text-align: center;
	color: #FFFFFF;
}
.lianxi .textarea_box{
	height: 210px;
	width: 720px;
	margin-right: 39px;
	
}
.lianxi .textarea_box i{
	height: 210px;
}
.lianxi .input_box textarea{
	float: left;
	line-height: 27px;
	color: #5F4C82;
	font-size: 16px;
	width: 640px;
	padding-right: 17px;
	height: 200px;
	border: none 0;
	text-align: left;
	padding-left:18px ;
	padding-top: 10px;
	outline: none;
	resize: none;
	font-family: "华文楷体";
	
}
.lianxi .focus_input_box{
	border: 1px solid red;
}
.way_one{
	width: 345px;
	height: 250px;
	float: left;
}
.way_one>*{
	float: left;
}
.way_one>img{
position: relative;

}
.way_one .way_content{
	margin-left: 27px;
}
.way_one h1{
	line-height: 60px;
	height: 60px;
	width: 210px;
	background: url(../image/lianxi_kuaier_bg.png) no-repeat bottom left;
	color: #5F4C82;
	margin-bottom: 14px;
}
.way_one .way_content p{
	line-height: 32px;
	color: #524d5c;
}
/*地图*/
.the_map{
	min-width: 1100px;
	position: relative;
}
.map_topping{
	width: 1100px;
	position: relative;
	margin: 0 auto;
	z-index: 999;
}
.map_topping img{
	position: absolute;
	top: 0;
	left: 0;
}
.map_bottoming{
	background: url(../image/map_bottomimg.png) top center no-repeat;
	position: absolute;
	bottom: 0px;
	left: 0;
	height: 33px;
	width: 100%;
	min-width: 1100px;
	background-color:transparent ;
}
.all_map_baidu{
	height: 660px;
	overflow: hidden;
	min-width: 1100px;
	margin: 0;
	background: pink;
	font-family: "华文宋体";
}





